@import '../../../../vendor/filament/filament/resources/css/theme.css';
@import '../../../../vendor/guava/calendar/resources/css/theme.css';
@source '../../../../vendor/guava/filament-modal-relation-managers/resources/**/*';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';
@source '../../../../vendor/guava/calendar/resources/**/*';

.guava-calendar .day,
.guava-calendar .fc-daygrid-day-frame {
    height: 120px !important;    /* adjust as needed */
    max-height: 120px !important;
    overflow: hidden;
}

.fi-modal-header 
{
    @apply bg-gradient-to-r from-lime-400 from-10% via-lime-300 via-30% to-white to-90%;
    @apply p-5;
    @apply rounded-t-lg;
}

.dark .fi-modal-header 
{
    @apply bg-gradient-to-r from-lime-950 from-0% via-lime-950 via-30% to-black to-90%;
    @apply p-5;
    @apply rounded-t-lg;
}

.fi-modal-heading
{
    @apply text-2xl;
}

.fi-sidebar
{
    @apply bg-gradient-to-t from-lime-400 from-0% to-white to-50%;
    @apply shadow-2xl;
}
.dark .fi-sidebar
{
    @apply bg-gradient-to-t from-lime-800 from-0% to-black to-50%;
    @apply shadow-xl;
    @apply shadow-lime-800;
}
.fi-sidebar-item-btn
{
    @apply p-0.5;
}

/* .fi-icon
{
    @apply text-gray-900;
} */
.dark .fi-icon
{
    @apply text-white;
}

.fi-sidebar-group-label
{
    @apply text-black;
}

.dark .fi-sidebar-group-label
{
    @apply text-white;
}

.fi-modal-description
{
    @apply text-gray-800;
}

.fi-modal-description
{
    @apply text-white;
}



